{% load static %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="intro pull-left">
        <img src="{% static 'img/instagram_app_instagram_outline_24.png' %}" style="border-right: solid 1px #ddd; display: inline;" >
        <img src="{% static 'img/nav_logo_whiteout.png' %}" style="display: inline">
      </div>
    <div class="centre" style="display: inline">
      <input placeholder="&#x1F50D; Search" >
    </div>
    <div class="pull-right">
      <img src="{% static 'img/direct_message_composer_thread_heart.png' %}" style="display: inline">
      <img src="{% static 'img/instagram_user_outline_24.png' %}" style="display: inline">
    </div>
</nav>

<!--<div class="col-sm-6 col-md-6">-->
<!--{% if user.is_authenticated %}-->
<!--<ul>-->
  <!--<li class="dropdown">-->
    <!--<a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account-->
              <!--<span class="caret"></span>-->
          <!--</a>-->
    <!--<ul class="dropdown-menu" role="menu">-->
      <!--<li>-->
        <!--<a href="{%url 'landing'%}">Home</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="/accounts/password/change">Change Password</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="/logout">Logout</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
<!--</ul>-->
<!--{% else %}-->
<!--<li>-->
  <!--<a class='btn btn-default' href="/accounts/login">Login</a>-->
<!--</li>-->
<!--{% endif %}-->
<!--</div>-->        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" >
             <input name="search" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder=" &#xF002; Search">
            <i class="spinner "></i>
        </form>